.divExpansion{
	display: table;
	width: 60%;
}

.divChart {
	/*position: absolute;*/
	right: 7%;
	top: 22%;
	border-color: rgba(255,252,252,.87);
	/*border-style: outset;*/
	width: 25%;
}

.header {
	width: 100%;
	/*position: fixed;*/
}

.example-selected-value {
  margin: 15px 0;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

#respuesta_incompleta {
    background-color: #EAF7FB;
}

#respuesta_ok {
    background-color: #F9FFFB;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


.paginator {

}
