<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="100%"
    fxLayoutGap.xs="0">
    <div fxFlex="100%" class="header">
        <Header></Header>
    </div>
</div>
<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div fxFlex="100%">
        <div fxFlex="60%" class="divExpansion">
            <mat-card >
                <mat-card-header>
                    <div mat-card-avatar class="material-icons">school</div>
                    <mat-card-title>Materias</mat-card-title>
                    <mat-card-subtitle>Ordenadas por saturación de comision</mat-card-subtitle>
              </mat-card-header>
               <hr>
                <mat-accordion class="expansion" *ngFor="let materia of materiasOrdenadasPorSaturacion; let i = index" [attr.data-index]="i">
                  <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
                    <mat-expansion-panel-header>
                      <table style="width:100%">
                          <td style="width:80%">
                              <mat-panel-title>
                                  <div *ngIf="getHayAlgunaComisionSaturada(materia);else no_esta_saturada">
                                      <font color = "red">{{materia.nombre}}</font>
                                  </div>
                                  <ng-template #no_esta_saturada>{{materia.nombre}}</ng-template>
                              </mat-panel-title>
                          </td>
                          <td style="width:20%">
                              <mat-panel-description>
                                  <div *ngIf="getHayAlgunaComisionSaturada(materia);else no_esta_saturada_descripcion">
                                      <font color = "red">Total inscriptos:  &nbsp;<b>{{getTotalInscriptos(materia)}}</b></font>
                                  </div>
                                  <ng-template #no_esta_saturada_descripcion>Total inscriptos:  &nbsp;<b>{{getTotalInscriptos(materia)}}</b></ng-template>
                              </mat-panel-description>
                          </td>
                      </table>
                    </mat-expansion-panel-header>
                    <mat-list>
                      <!-- <h3 mat-subheader>Comisiones</h3> -->
                      <mat-list-item *ngFor="let comision of materia.comisiones">
                              <h4 mat-line fxLayoutAlign="space-between center">
                                  {{getNombre(comision)}} - Cantidad insciptos: {{comision.inscriptos.length}}
                                  <strong>{{getValue(comision)}}%</strong>
                              </h4>
                              <p mat-line>
                                  <br>
                              </p>
                              <p mat-line>
                                  <mat-progress-bar
                                      class="example-margin"
                                      [color]="getColor(comision)"
                                      [mode]="mode"
                                      [value]="getValue(comision)">
                                  </mat-progress-bar>
                                  </p>
                                  <mat-divider></mat-divider>
                      </mat-list-item>
                  </mat-list>
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
        <div fxFlex="40%" fxFlexOrder="2" class="divChart">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="material-icons">group</div>
                    <mat-card-title>Total alumnos</mat-card-title>
                    <mat-card-subtitle>que completaron la encuesta</mat-card-subtitle>
              </mat-card-header>
              <hr>
              <mat-card-content>
                <div *ngIf=(dibujarGrafico)>
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
