<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="100%"
    fxLayoutGap.xs="0">
    <div fxFlex="100%" class="header">
        <Header></Header>
    </div>
</div>

<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div fxFlex="100%">
        <div fxFlex="60%" class="divExpansion">
            <mat-card >
                <!-- <lista-oferta></lista-oferta> -->
                <p>MATERIAS</p>
            </mat-card>
        </div>
        <div fxFlex="40%" fxFlexOrder="2" class="divChart">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="material-icons">group</div>
                    <!-- <mat-icon class="material-icons">delete</mat-icon> -->
                    <mat-card-title>Total alumnos</mat-card-title>
                    <mat-card-subtitle>que completaron la encuesta</mat-card-subtitle>
              </mat-card-header>
              <hr>
              <mat-card-content>
                <div *ngIf=(dibujarGrafico)>
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
