<!-- <mat-card style="width:40%"> -->
<Header></Header>
<mat-grid-list cols="2" rows="2">
      <mat-grid-tile [colspan]="2" [rowspan]="0.25">
        <mat-card class="mat-card-position">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="email">
            </mat-form-field>
            <!-- <mat-form-field>
                <input matInput placeholder="Legajo" [(ngModel)]="legajo">
            </mat-form-field> -->
        </div>
        <button mat-button (click)=login()>Enviar Mail / Login</button>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
