<div>
    <td>
        <tr class="expansion" *ngFor="let materia of materias">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{materia.nombre}}
                </mat-panel-title>
                <mat-panel-description>
                    CURSA?
                </mat-panel-description>
              </mat-expansion-panel-header>
              DSFFSD
              <!-- <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field> -->
            </mat-expansion-panel>
        </tr>
    </td>
</div>



<!--
<div>
  <td>
  <tr class="trpacientes" *ngFor="let paciente of pacientes">{{paciente.nombre}}   {{paciente.apellido}}
    <md-expansion-panel>
        <md-expansion-panel-header>
            <md-panel-title>
              Seguimiento
            </md-panel-title>
            <md-panel-description>
              Datos personales
            </md-panel-description>
        </md-expansion-panel-header>
        <md-form-field>
            <md-hint align="start"><strong>Nombre</strong> </md-hint>
            <input mdInput placeholder={{paciente.nombre}}>
        </md-form-field>
        <md-form-field>
            <md-hint align="start"><strong>Edad</strong> </md-hint>
            <input mdInput placeholder={{paciente.edad}}>
        </md-form-field>
        <md-form-field>
            <md-hint align="start"><strong>Peso</strong> </md-hint>
            <input mdInput placeholder={{paciente.peso}}>
        </md-form-field>
        <md-form-field>
            <md-hint align="start"><strong>Estatura</strong> </md-hint>
            <input mdInput placeholder={{paciente.estatura}}>
        </md-form-field>
        <md-card>
            <registropaciente></registropaciente>
        </md-card>
    </md-expansion-panel>
  </tr>
</td>
</div> -->
