<!-- <table style="width:100%"> -->
    <mat-accordion class="expansion" *ngFor="let materia of materias; let i = index" [attr.data-index]="i">
      <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
        <mat-expansion-panel-header id='{{getEstado(i)}}'>
          <table style="width:100%">
              <td style="width:80%">
                  <mat-panel-title>
                    {{materia.nombre}}
                  </mat-panel-title>
              </td>
              <td style="width:20%">
                  <mat-panel-description>
                    Elija una de las opciones
                    <i class="material-icons">{{getEstado(materia)}}</i>

                  </mat-panel-description>
              </td>
          </table>
        </mat-expansion-panel-header>

        <mat-radio-group id="materia_{{i}}" name="materia_{{i}}" class="example-radio-group" [(ngModel)]="materia['estado']">
        <!-- <mat-radio-group id="materia_{{i}}" name="materia_{{i}}" class="example-radio-group" [(ngModel)]="respuesta[i]"> -->
            <mat-radio-button *ngFor="let opcion of opciones" class="example-radio-button" [value]="opcion.value">
                {{opcion.viewValue}}
            </mat-radio-button>
        </mat-radio-group>
        <hr>
            <mat-form-field>
                <mat-select [placeholder]="placeholderSelect" [(ngModel)]="materia['comisionElegida']" name="comision" disabled={{!respuestaVoyACursar(materia)}}>
                    <mat-option *ngFor="let comision of materia.comisiones" [value]="comision.nombre">
                        {{comision.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
        <!-- <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel> -->

    </mat-accordion>
<!-- </table> -->
