<table style="width:50%">
    <mat-accordion class="expansion" *ngFor="let materia of materias; let i = index" [attr.data-index]="i">
      <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{materia.nombre}}
          </mat-panel-title>
          <mat-panel-description>
            Elija una de las opciones
          </mat-panel-description>
        </mat-expansion-panel-header>


        <mat-radio-group class="example-radio-group" [(ngModel)]="respuesta">
            <mat-radio-button class="example-radio-button" *ngFor="let opcion of opciones" [value]="opcion">
                {{opcion.viewValue}}
            </mat-radio-button>
        </mat-radio-group>
        <!-- <div class="example-selected-value"><h2>Respuesta: {{respuesta.viewValue}}</h2></div> -->
        <hr>
            <mat-form-field>
                <mat-select [placeholder]="placeholderSelect" [(ngModel)]="comisionElegida" name="comision" disabled>
                    <mat-option *ngFor="let comision of comisiones" [value]="comision.value">
                        {{comision.viewValue}}
                    </mat-option>
                </mat-select>

                <!-- <p> Selected value: {{selectedValue}} </p> -->
            </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>



        <!-- <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel> -->

    </mat-accordion>
</table>
