.divExpansion{
	display: table;
	width: 60%;
}

.divResumen {
	position: absolute;
	right: 7%;
	top: 22%;
	border-color: rgba(255,252,252,.87);
	border-style: outset;
	width: 25%;
}

.header {
	width: 100%;
	/*position: fixed;*/
}
