<!-- <Encuesta></Encuesta> -->

<!-- <div style="width:50%">
            <Expansion></Expansion>
</div>
<div style="width:50%">
            <Resumen-inscriptas></Resumen-inscriptas>
</div> -->
<!-- <Resumen-inscriptas></Resumen-inscriptas> -->

<Header></Header>

        <!-- <mat-grid-list cols="2" rows="1">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <Expansion></Expansion>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <Resumen-inscriptas></Resumen-inscriptas>
             </mat-grid-tile>
        </mat-grid-list> -->


<table style="width:100%">
    <tr>
        <td>
            <Expansion></Expansion>
        </td>
        <td>
            <Resumen-inscriptas></Resumen-inscriptas>
        </td>
    </tr>
</table>
