<!-- <Encuesta></Encuesta> -->

<!-- <div style="width:50%">
            <Expansion></Expansion>
</div>
<div style="width:50%">
            <Resumen-inscriptas></Resumen-inscriptas>
</div> -->
<!-- <Resumen-inscriptas></Resumen-inscriptas> -->
<div class="header">
    <Header></Header>
</div>
        <!-- <mat-grid-list cols="2" rows="1">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <Expansion></Expansion>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <Resumen-inscriptas></Resumen-inscriptas>
             </mat-grid-tile>
        </mat-grid-list> -->


<!-- <table style="width:100%">
    <tr>
        <td>
            <Expansion></Expansion>
        </td>
        <td>
            <Resumen-inscriptas></Resumen-inscriptas>
        </td>
    </tr>
</table> -->
<div class="divEncuesta">
    <mat-card class="divExpansion">
        <!-- <Expansion></Expansion> -->
        <lista-oferta></lista-oferta>
    </mat-card>
    <!-- <div class="divResumen"> -->
    <mat-card class="divResumen">
        <!-- <Resumen-inscriptas [seleccion]="materias$ | async" (onAgregarMateria)="agregarMateria($event)" ></Resumen-inscriptas> -->
        <Resumen-inscriptas [seleccion]="materias$ | async" ></Resumen-inscriptas>
        <!-- "users$ | async" (onCreateUser)="createUser($event)" (onApproveAll)="approveAll($event)" -->
    </mat-card>
    <!-- </div> -->
</div>

<!-- <lista-oferta></lista-oferta> -->
