.titulo {
    color: rgba(255,255,255,.87);
    font-weight: bold;
    font-size: x-large;
    background-color: #3f51b5;
}


/*mat-toolbar-row {
    color:  rgba(0,0,0,.87);
    background-color: rgba(255,255,255,.87);
}*/

tr.resumen {
    color: rgba(255,255,255,.87);
    background-color: #3f51b5;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  /*flex: 1 1 auto;*/
   flex-basis: 0;
}
