<mat-horizontal-stepper>
  <mat-step>
      <ng-template matStepLabel>Materias aprobadas</ng-template>
        <div>
            <mat-card>
                <Expansion [materias]="materias_aprobadas"></Expansion>
            </mat-card>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Materias sugeridas</ng-template>
    <div>
        <mat-card>
            <Expansion [materias]="materias_sugeridas"></Expansion>
        </mat-card>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <mat-card>
        <Expansion [materias]="materias"></Expansion>
    </mat-card>
    <div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
